# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars

# Ignore local development variable file
backend.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore metadata files
*.tfstate.lock.info

#Ignore lock file
*.terraform.lock.hcl
